<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoA2N5ZTfnDorIoqJUBm6ZlN5wkY42TaU</string>
	<key>GCM_SENDER_ID</key>
	<string>787675764396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkayozbb.FireBaseInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>fir-instagramclone-43cba</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-instagramclone-43cba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787675764396:ios:b65b8eb27efc5b199cb109</string>
</dict>
</plist>